{% extends 'base.html' %}
<title>{% block title %}Page password_reset_done.html{% endblock %}</title>

{% block content %}
    <div id="hot" xmlns="http://www.w3.org/1999/html">
        <div class="box py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-0"> Nous vous avons envoyé un email avec les instructions pour changer votre mot
                            de passe.</h2>
                        <h3 class="mb-0">Si vous ne recevez pas cet email, vérifiez que vous avez saisi la bonne adresse
                            ou regardez dans vos spam</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Your application has indicated there's an error
        window.setTimeout(function () {
            // Move to a new location or you can do something else
            window.location.href = "{% url 'index' %}";
        }, 5000);
    </script>
{% endblock %}