{% extends 'base.html' %}
<title>{% block title %}Page password_reset_form.html{% endblock %}</title>
{% block content %}
    <div id="hot" xmlns="http://www.w3.org/1999/html">
        <div class="box py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-0">Mot de passe oublié</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div id="blog-homepage" class="row">
                <div class="col-sm-63">
                    <div class="post">
                        <div class="form-group">
                            <form method="post">
                                {% csrf_token %}
                                <label for="id_email">Email :</label>
                                <input id="id_email" type="email" class="form-control" name="email">
                                <br>
                                <p class="read-more">
                                    <button type="submit" class="btn btn-primary">Envoyez moi la procédure</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
