{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Page category_list{% endblock %}</title>
{% block content %}
    <div id="hot">
        <div class="box py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-0">Choisissez un thème ...</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    For icons please choose at https://fontawesome.com/v4.7.0/icons/#}
    <div id="all">
        <div id="content">
            <div id="advantages">
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                                <div class="icon"><i class="fa fa-heart"></i></div>
                                <h3><a href="{% url 'soap' %}">Savons</a></h3>
                                <p class="mb-0">Vous désirez tout savoir sur les savons ?</p>
                                {% if request.user.is_authenticated %}
                                    <br>
                                    <br>
                                    <div class="navbar-collapse collapse d-none d-lg-block">
                                        <a href="#" class="btn btn-primary navbar-btn"><span>Modifier</span></a>
                                        <a href="#" class="btn btn-primary navbar-btn"><span>Supprimer</span></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                                <div class="icon"><i class="fa fa-tags"></i></div>
                                <h3><a href="{% url 'face_cream' %}">Crèmes visage</a></h3>
                                <p class="mb-0">Tout pour le visage</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                                <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                                <h3><a href="{% url 'body_cream' %}">Crèmes corps</a></h3>
                                <p class="mb-0">pour un corps doux ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="all">
        <div id="content">
            <div id="advantages">
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                                <div class="icon"><i class="fa fa-heart-o"></i></div>
                                <h3><a href="{% url 'soap' %}">Lessive</a></h3>
                                <p class="mb-0">Vous désirez tout savoir sur les savons ?</p>
                                {% if request.user.is_authenticated %}
                                    <br>
                                    <br>
                                    <div class="navbar-collapse collapse d-none d-lg-block">
                                        <a href="#" class="btn btn-primary navbar-btn"><span>Modifier</span></a>
                                        <a href="#" class="btn btn-primary navbar-btn"><span>Supprimer</span></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                                <div class="icon"><i class="fa fa-bath"></i></div>
                                <h3><a href="{% url 'face_cream' %}">Adoucissant</a></h3>
                                <p class="mb-0">Tout pour le visage</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                                <div class="icon"><i class="fa fa-child"></i></div>
                                <h3><a href="{% url 'body_cream' %}">Détergent</a></h3>
                                <p class="mb-0">pour un corps doux ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



