{% extends 'base.html' %}
<title>{% block title %}Page logout.html{% endblock %}</title>
{% block content %}
<div>

    <div class="alert alert-danger" role="alert">
        <span >Vous êtes maintenant déconnecté. Retour à l'acceuil...</span>
        <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status"></div>
    </div>
</div>

  <script>
    // Your application has indicated there's an error
    window.setTimeout(function(){
        // Move to a new location or you can do something else
        window.location.href = "{% url 'index' %}";
    }, 1000);

</script>
</div>
{% endblock %}
